/* Левая колонка с фильтрами */
.filters-grid {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--text-black);
  font-size: var(--fz-input);
}

.date-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.date-range span {
  color: var(--text-input);
  font-size: var(--fz-input);
  min-width: 20px;
}

/* Правая колонка с чекбоксами */
.section {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 0 1.5rem 0;
}

.section:last-child {
  padding-bottom: 0;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.button__container {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
