.return__container {
  width: 50rem;
}
.poisk__container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.filter-text {
  font-size: var(--fz-input);
  color: var(--text-black);
  width: 20rem;
}
.filter-container {
  display: flex;
  gap: 1rem;
  width: 20rem;
}
